body{
    margin:none;
    background:black;
    overflow-x:hidden;
}
section{
    width:100vw;
    height:100vh;
    justify-items: center;
}
body>*{
    margin:none;
    user-select: none;
}
.intro{
    width:100vw;
    height:100vh;
    justify-items: center;
    
}
.intro-layer{
    font-size:6vmax;
    font-weight: bolder;
    font-family: monospace;
    position:absolute;
    width:100vw;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    align-self: center;
}
.intro-star{
    position:fixed;
    pointer-events: none;
    background:white;
    width:1vmax;
    height:1vmax;
    --startimeout:500ms;
    animation:var(--startimeout) star-behave forwards;
}
.wordbutton{
    color:white;
    font-size:5vmax;
    cursor:pointer;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    text-decoration: none;
}
.wordbutton:hover{
    text-decoration:underline;
}
.go{
    top:50vh;
    left:50vw;
    transform:translate(-50%,150%);
}
.container{
    width:100vw;
    height:100vh;
    justify-items: center;
}
@keyframes star-behave{
    0%{opacity:0;scale:0;transform:rotate(0deg);}
    50%{opacity:0.5;scale:1;transform:rotate(180deg);}
    100%{opacity:0;scale:0;transform:rotate(0deg);}
}
.dreams{
    display:flex;
    flex-direction: column;
    position:absolute;
    left:0;
    top:0;
    z-index:100;
    background:white;  
    background-size:cover;
    background-repeat:no-repeat;
    transition:1s; 
    opacity:0;
    display:none;
    overflow:hidden;
   
}
.dreamsBG{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:url(sky.jpg);
    background-size:contain;
    transition:1s;
    opacity:0;
    pointer-events: none;
}
.first-text{
    font-size:5vmax;
    width:100vw;
    text-align: center;
    margin-top:50vh;
    position:absolute;
    left:50vw;
    transform:translate(-50%,0);
}
.loidetu a{
    margin-top:70vh;
    font-size:5vmax;
    width:100vw;
}
.setUnblur{
 
    filter:blur(100px);
    -webkit-filter:blur(100px);
}
.unblur{
    animation:2s unblur forwards;
}
.floatin{
    animation:1s floatin forwards;
}
@keyframes floatin{
    from{
        transform:translateY(50vh);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}
@keyframes unblur {
    from{
        filter:blur(100px);
        -webkit-filter:blur(100px);
    }
    to{
        filter:blur(0px);
        -webkit-filter:blur(0px);
    }
}
.setFloatin{
    opacity:0;
}
.setPopup{

}
@keyframes popup{
    from{
        scale:0;
    }
    to{
        scale:1;
    }
}
.earth{
    background:url(earth.webp);
    background-size:contain;
    border-radius:100%;
    position:absolute;
    top:140vh;
    left:-10vw;
    width:40vmax;
    height:40vmax;

}
.space-text{
    margin-top:65vh;
    margin-left:30vw;
    font-size:4.5vmax;
    color:white;
    text-align: center;
}
.astronaut{
    background:url(astronaut.webp);
    background-size:contain;
    background-repeat: no-repeat;
    position:absolute;
    top:180vh;
    left:30vw;
    width:20vmax;
    height:50vmax;
}
.ISS{
    background:url(ISS.webp);
    background-size:cover;
    position:absolute;
    top:170vh;
    left:10vw;
    width:25vmax;
    height:10vmax;
}
.art-text{
    margin-top:25vh;
    font-size:4.5vmax;
    width:100vw;
    color:black;
    font-family: "Pacifico", serif;
    font-weight:400;
    text-align: center;
    border-radius: 20%;
    backdrop-filter: blur(1vmax);
    -webkit-backdrop-filter: blur(1vmax);

}
.art-panel{
    display:flex;
    flex-direction:row;
    position:absolute;
    left:0;
    flex-wrap: wrap;
}
.art-canvas{
    background:white;
    z-index:100;
    cursor:url(brush_icon.png),auto;
}
.art-controls{
    background:black;
    width:40vw;
    height:80vh;
    display:flex;
    flex-wrap: wrap;
    gap:0;
}
.art-controls >*{
    width:40%;
    height:10vh;
    margin:0;
    font-size:3vmax;
    text-align:left;

}
.art-controls label{
    background:rgba(255,255,255,1);
}
.art-controls button{
    margin-top: -20vh;
    margin-left:60%;
    font-size:4vmax;
    width:fit-content;
    height:fit-content;
    color:black;
}
.chef{
    width:100vw;
    height:100vh;
}
.chef-text{
    color:white;
    font-size:4vmax;
    margin-top:40vh;
}
.chef img{
    width:40vw;
    height:30vw;
}
.dev-text{
    font-size:3vmax;
    margin-top:30vh;
    margin-left:5vw;
    text-align: left;
    color:white;
}
.projects a{
    color:cyan;
    height:10vh;
}
.previewProject{
    width:40vw;
    height:40vh;
    background:white;
    margin-left:50vw;
    margin-top:-40vh;
    transition:0.25s;
    display:none;
    opacity:0;
 
}
.last-text{
    text-align: center;
    margin-left:2.5vw;
    font-size:3.5vmax;
    color:black;
    margin-top:50vh;
}

